<!DOCTYPE html>
<html>

<head>

<title>AI Phishing Detector</title>

<style>

body{
    background:#111827;
    color:white;
    text-align:center;
    font-family:Arial;
    padding-top:50px;
}

input{
    width:400px;
    padding:12px;
    border-radius:10px;
    border:none;
}

button{
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
}

.card{
    width:600px;
    background:#1f2937;
    margin:auto;
    padding:20px;
    border-radius:20px;
    margin-top:30px;
}

.risk{
    font-size:25px;
    color:#f87171;
}

</style>

</head>

<body>

<h1>AI-Based Phishing Detection System</h1>

<form method="POST">

<input type="text" name="url" placeholder="Enter URL" required>

<button type="submit">
Scan URL
</button>

</form>

{% if result %}

<div class="card">

<h2>{{ result }}</h2>

<p><b>URL:</b> {{ url }}</p>

<p class="risk">
Risk Score: {{ risk_score }}/100
</p>

<h3>Detected Keywords</h3>

<ul>

{% for word in keywords %}

<li>{{ word }}</li>

{% endfor %}

</ul>

</div>

{% endif %}

</body>
</html>
